@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;700;800;900&family=Play:wght@400;700&display=swap');

body {
    background-color: black;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    height: 100vh;
}

/*----------------Header-------------*/

header {
    width: 100%;
}

nav {
    background-image: linear-gradient( rgb(75, 1, 82) 40%, rgba(0, 0, 0, 1));
}

/*--------Colors and code taken from matthewlein.com and edited (https://matthewlein.com/experiments/rainbow-text-shadow)*/

.navbar-brand {
    font-family: 'Orbitron', sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-shadow: rgb(144 39 142) -2px -2px,
                 rgb(236 28 36) -3px -3px,
                 rgb(239 145 41) -4px -4px,
                 rgb(0 165 81) -5px -5px,
                 rgb(255 241 0) -6px -6px;
    margin-left: 15px;

}

/*--------Background navbar syntax taken from W3Schools (https://www.w3schools.com/css/css3_gradients.asp)------*/

.btn-dark {
    border: 3px solid rgb(108, 2, 129);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 10px;
    padding: 5px;
}

.btn-dark:hover {
    background-color: rgb(108, 2, 129);
    border: 5px solid rgb(0, 0, 0);
}

.header-btn {
    margin: 5px 2px 5px 2px;
}

/*---------------Footer----------------*/

footer {
    background-image: linear-gradient(to top, rgb(75, 1, 82) 40%, rgba(0, 0, 0, 1));
    width: 100%;
    min-height: 140px;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 80px;
    position: relative;
    left: 0;
    bottom: 0;
}

.col-12 h6 {
    margin-top: 15px;
    padding-top: 20px;
    text-shadow: rgb(255, 241, 0) -1px -1px;
}

.socials {
    margin: 10px;
}

.socials a i {
    height: 35px;
    width: 35px;
    font-size: 35px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.copyright {
    margin-bottom: 5px;
    padding-bottom: 0;
}

/*------------Home page welcome box & Begin Your Adventure content box*/

/*-----Box-shadow properties taken from Javascript-Text-Adventure-Game by Mega-Barrel on GitHub 
(https://github.com/Mega-Barrel/Javascript-Text-Adventure-Game/blob/master/main.css)*/

#welcomeBox,
#contentBox  {
    border: 10px solid rgba(75, 1, 82, 0.4);
    border-radius: 30px;
    background-color: rgb(75, 1, 82);
    color: rgb(255, 255, 255);
    text-align: center;
    display: block;
    position: relative;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    box-shadow: 0 0 10px 2px;
    margin-top: 50px;
}

#welcomeBox {
    width: 300px;
}


#contentBox {
    min-height: 300px;
}

#welcomeBox .welcome-text {
    margin-top: 15px;
    padding: 5px;
}

.gif {
   height:100px;
   width: 100px;
}

/*---------------Adventure Page-----*/

#story {
    background-color: rgb(255, 255, 255);
    color: rgb(75, 1, 82);
    border-radius: 30px;
    font-weight: 700;
    margin-bottom: 8px;
    padding: 10px;
}

.btn {
    border: 3px solid rgb(108, 2, 129);
    border-radius: 15px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-weight: 400;
    margin: 5px;
}

.btn:hover {
    background-color: rgb(108, 2, 129);
    border: 5px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/*---------------Feedback Form-----*/

.centered-form {
    margin: 0 auto;
    max-width: 80%;
}

form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.centered-form form input, 
.centered-form form textarea {
    border: 5px solid rgb(75, 1, 82);
    border-radius: 20px;
    margin: 5px;
}

.center-block {
    margin-left: 75px;
}

/*-----------404 page--------*/

h3,
h4 {
    text-align: center;
    padding-top: 15px;
}

h3 {
    margin: 5px;
}

a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 20px;
}

/*-----------Media Queries---------*/


@media only screen and (min-width: 768px){

    .navbar-brand {
        font-size: 30px;
        font-weight: 800;
        text-shadow: rgb(144 39 142) -3px -3px,
                 rgb(236 28 36) -5px -5px,
                 rgb(239 145 41) -7px -7px,
                 rgb(0 165 81) -9px -9px,
                 rgb(255 241 0) -11px -11px;
    }

    .btn-dark {
        font-weight: 700;
        font-size: 15px;
    }

    .header-btn {
        margin: 10px 50px 20px 50px;
    }

    footer {
        position: fixed;
    }
    

    #welcomeBox,
    #contentBox  {
        margin-top: 90px;
        width: 610px;
        min-height: 350px;
    }

    .centered-form {
        max-width: 50%;
    }

    .center-block {
        margin-left: 110px;
    }
}

@media only screen and (min-width: 1025px) {

    .btn-dark {
        font-size: 17px;
    }

    .header-btn {
        margin: 10px 100px 20px 100px;
    }

    footer {
        position: relative;
    }

    #welcomeBox,
    #contentBox  {
        margin-top: 80px;
        margin-bottom: 50px;
        width: 660px;
        padding-bottom: 40px;
    }

    .center-block {
        margin-left: 210px;
    }
}